<?xml version="1.0" encoding="UTF-8"?>
<plugin id="uaepass.interceptor" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>UAEPassInterceptor</name>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*" />

        <source-file 
            src="src/android/UAEPassInterceptor.java"
            target-dir="src/com/uaepass/interceptor" />
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="/*" />

        <source-file src="src/ios/UAEPassInterceptor.m" />
    </platform>

</plugin>
